#This project is being done using python 3.10 
jupyter==1.1.1
pandas==2.2.2
matplotlib==3.10.0
numpy==1.26.4
nltk==3.7
torch==2.5.1
transformers==4.47.1
tqdm==4.67.1
seaborn==0.13.2
scikit-learn==1.6.0
spacy==3.5.2
symspellpy==6.7.8
tensorflow==2.18.0
tensorflow-hub==0.16.1
textattack==0.3.10
tf-keras==2.15.0
keras==3.7.0
tensorflow_addons==0.22.0
